

<div class="row">
    <div class="col-3">
        <p class="p-3" [ngClass]="className()">directives works!</p>
    </div>
</div>

<div class="row">
    <div class="col-6">
        
            <button type="button" (click)="setClassName('bg-success')" class="btn btn-success"> make green </button>
        
            <button type="button " (click)="setClassName('bg-danger')" class="btn btn-danger">make red</button>
        
    </div>
</div>


<div class="row">
    <div class="">
        <div class="box p-5 w-50 h-50 border solid m-5" [ngStyle]="{'background-color': isColor? 'green': 'red'}">

        </div>
        <button [ngClass]="buttonClassName()" (click)="toggleColor()">Toggle</button>
    </div>
</div>
